header{
    background: #f7f7f734;
    border-bottom: thin rgb(0, 0, 0) solid;
}
main{


}

a.link{
    font-weight: bold;
    color: blue;
    
}
button {
    display: block; /* Ensure the button is block-level (stack below inputs) */
    margin: 10px auto; /* Center the button horizontally */
}


#jokebox {
    display:inline-block;
        border:1px solid #000;
        padding:20px;
        xbackground-color:aliceblue;
}
#friendlist {
    display:inline-block;
    border:1px solid black;
    padding: 20px
}



footer{
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #797e8a;
    border-top: thin black solid;
    
}