header{
    background: #f7f7f734;
    border-bottom: thin rgb(0, 0, 0) solid;
}
main{
    min-height: 100vh;
    /* xtext-align: center; */
    background: rgba(22, 48, 120, 0.227);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

#returntologinpage{
    position: absolute;
    bottom: 1px;
    right: 5px;
}

#chatbox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
}
#friendlistplusbox{
    position: absolute;
    top: 58px;
    left: 0px;
    display:block;
    border:1px solid black;
    padding: 10px;

    


}
#friendlist{
    border: 1px solid black;
}


#jokebox {
    display:inline-block;
        border:1px solid #000;
        padding:1px;
        position: absolute;
        bottom: -5px;
        left: 0px;

}

@media (max-width: 1250px), (max-height: 500px){
    #jokebox{
        display: none;
    }
    #friendlistplusbox{
        display: none;
    }
}

button {
    display: block; /* Ensure the button is block-level (stack below inputs) */
    margin: 10px auto; /* Center the button horizontally */
}
a.link{
    font-weight: bold;
    color: blue;
}
footer{
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #797e8a;
    border-top: thin black solid;
    
}