header{
    background: #f7f7f734;
    border-bottom: thin rgb(0, 0, 0) solid;
}
main{
    min-height: 100vh;
    /* xtext-align: center; */
    background: rgba(0, 0, 0, 0.533);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}


button {
    display: block; /* Ensure the button is block-level (stack below inputs) */
    margin: 10px auto; /* Center the button horizontally */
}

#chatbox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
}
#friendlist{
    background-color: blue;
    display:block;
    float: left;
    border:1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    


}



#jokebox {
    display:inline-block;
        border:1px solid #000;
        padding:1px;
        position: absolute;
        bottom: -5px;
        left: 0px;

        xbackground-color:aliceblue;
}
#jokeoftheday{
    border-bottom: 1px solid black;
    background-color: blue;
    color: orange;
}




@media (max-width: 600px), (max-height: 500px){
    #jokebox{
        display: none;
    }
}


a.link{
    font-weight: bold;
    color: blue;
    
}
footer{
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #797e8a;
    border-top: thin black solid;
    
}