header{
    background: #f7f7f734;
    border-bottom: thin rgb(0, 0, 0) solid;
}

main{
    min-height: 100vh;
    /* xtext-align: center; */
    background: #87a8f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{ 
    text-align: center;
}

/* input{
    display:block;
    margin: 10px auto;
} */


.form-group{
    border: 3px solid #060606;
    background-color: white;
    padding: 40px;
    display: block;
    width: 60%;
    text-align: center;
    


    /* text-align: center;
    margin-top: 10%;
    margin-right: 10%;
    margin-bottom: 20%;
    margin-left: 25%; */



}
button {
    display: block; /* Ensure the button is block-level (stack below inputs) */
    margin: 10px auto; /* Center the button horizontally */
}




a.link{
    font-weight: bold;
    color: blue;
}


footer{
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #797e8a;
    border-top: thin black solid;
    
}

