main{
    text-align: center;
}

body {
    background: #a7f7f7;
  }


p{
    color:black;

    
}
a.link{
    font-weight: bold;
    xbackground-color: red;
    xborder-left: solid 1em purple;
    xborder: solid 1em blue;
}


footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    
}

