header{
    background: #f7f7f734;
    border-bottom: thin rgb(0, 0, 0) solid;
}


.body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
  }

main{
    min-height: 100vh;
    /* text-align: center; */
    background: rgba(0, 0, 0, 0.533);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{ 
    text-align: center;
}

/* input{
    display:block;
    margin: 10px auto;
} */


.form-group{
    color: black;
    border: 3px solid #060606;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    display: block;
    width: 60%;
    text-align: center;

    margin-top: 10%;
    margin-right: 10%;
    margin-bottom: 20%;
    margin-left: 10%;



}
button {
    display: block; /* Ensure the button is block-level (stack below inputs) */
    margin: 10px auto; /* Center the button horizontally */
}


menu {
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
    list-style: none;
}

.navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid rgb(182, 182, 182) thin;
}

menu .nav-item {
    padding: 0 0.3em;
}


a.link{
    font-weight: bold;
    color: blue;
}


footer{
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #f7f7f734;
    border-top: thin black solid;
    
}
